# Flutter/Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies

# IDE
.idea/
*.iml
.vscode/

# Android
android/local.properties
android/.gradle/
android/app/debug
android/app/profile
android/app/release
android/key.properties
*.keystore
*.jks

# OS
.DS_Store
